html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #map {
    transition: margin-left 0.3s;
  }
  
  #sidebar {
    width: 275px;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
    padding: 5px;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  #sidebar.collapsed {
    width: 50px;
    padding: 10px 0;
  }
  
  #sidebarToggle {
    position: absolute;
    top: 05%;
    left: 247px; /* Adjust to place the button on the separating line */
    z-index: 1100;
    width: 40px;  /* Double the size */
    height: 40px;  /* Double the size */
    cursor: pointer;
    transition: left 0.3s, transform 0.3s;
    transform: translate(-50%, -50%);
  }
  
  #sidebarToggle img {
    width: 100%;
    height: auto;
  }
  
  #sidebar.collapsed + #sidebarToggle {
    left: 47px;
  }
  
  #sidebar.collapsed ~ #map {
    margin-left: 50px;
  }
  
  #sidebar ~ #map {
    margin-left: 250px;
  }
  
  #sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: 3px;
    height: 100%;
    background: #242424;
    z-index: 999;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.slider {
    position: relative;
    width: 100%;
    margin: 0 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    position: absolute;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
}